.Header {
  padding: 2rem;
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.Header h1 {
  text-decoration: none;
  color: #ccc;
}

.Header nav {
  display: flex;
  transform: scale(0.6);
  gap: 5rem;
}

.Header  svg{
  color: white;
  transform: scale(4);
}

