* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}
 body {
   background-color: #35383F;
 }

 .appLoading {
  max-width: 80%;
  text-align: center;
  font-size:1rem;
  margin: 0 auto;
  height: 100vh;
  color: yellow;
 }